*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(18, 18, 18, 1);
  color: rgba(255, 255, 255, 1);
}

p {
  line-height: 1.5;
}
