.films-section__inner {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 70vh;
  padding: 6rem 0;
}

.films-section__msg-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  gap: 1rem;
}

.films-section__msg-title {
  font-size: 1.28rem;
  font-weight: 700;
  color: rgba(120, 120, 120, 1);
}

.films-section__msg-icon {
  width: 5rem;
  height: auto;
}

.films-section__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.films-section__watchlist-msg-area {
  flex-direction: column;
}

.films-section__msg-add {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  gap: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
