.films-section__inner {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 70vh;
  padding: 6rem 0;
}

.films-section__msg-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  gap: 1rem;
  display: none;
}

.films-section__msg-title {
  font-size: 1.28rem;
  font-weight: 700;
  color: rgba(46, 46, 47, 1);
}

.films-section__msg-icon {
  width: 5rem;
  height: auto;
}

.films-section__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
